.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 2px;
  text-decoration: none;

}

.task-board-button {
  background-color: #4caf50;
  /* Green */
  color: white;
}

.task-board-button:hover {
  background-color: #45a049;

}

.weather-button {
  background-color: #2196F3;
  color: white;
}

.weather-button:hover {
  background-color: #1976D2;
}


.calculator-button {
  background-color: #f44336;
  color: white;
}

.calculator-button:hover {
  background-color: #d32f2f;
}

